@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet"');
:root {
    font-family: 'Audiowide', cursive;
    --main-color: white;
    --accent-color: #000;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    font-family: 'audiowide', cursive;
    display: flex;
    margin: auto;
}

header nav .navbar-nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    flex: 1;
}

body {
    background-image: url(img/background.png);
    background-color: #370584;
    max-width: 980px;
    margin: auto;
    background-size: cover;
    background-attachment: fixed;
    background-position: fixed;
}

.logo {
    width: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

header .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .banner h1 {
    font-family: 'audiowide', cursive;
    margin: -5px;
    color: var(--main-color);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 5rem;
    text-align: center;
}

header .banner p {
    font-family: 'audiowide', cursive;
    width: 70%;
    background-color: transparent;
    text-shadow: -0.5px 0 #000, 0 0.5px #000, 0.5px 0 #000 0 -0.5px #000;
    border-radius: 5px;
    padding: 20px;
    color: var(--main-color);
    text-align: center;
    size: 3rem;
    margin: -10px;
}

.chapters {
    background-color: #151444;
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 3px;
    color: var(--main-color);
    text-align: center;
    size: 4rem;
    margin: 50px 0px 0px 0px;
}

.text-about {
    color: var(--main-color);
    text-align: justify;
    padding: 0px 20px;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid white;
    text-shadow: -0.5px 0 #000, 0 0.5px #000, 0.5px 0 #000 0 -0.5px #000;
}

.carousel {
    border: 1px solid white;
}